main>div {
    /* border: 0.5px solid #DDD; */
    border: 0.3px solid #949292;
    border-radius: 10px;
}

header h1,
header p {
    margin: 0;
}

medication-to-take {
    background-color: greenyellow;
}

#prescription-form-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    /* opacity: .8; */
}